body {
    background-image: URL(Acadêmico.png);
    background-repeat:no-repeat;
    background-size: cover;
}


.btn{
    width: 150px;
    height: 60px;
     color: white;
     background:  #E7C6BF;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     text-align: center;
     font-size: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
 }
 
 #button{
    position:absolute;
    top: 7%;
    right: 88%;
}

#button2{
    position: absolute;
    top: 22%;
    right: 88%;
}

#button3{
    position: absolute;
    top: 37%;
    right: 88%;
}

#button4{
    position: absolute;
    top: 52%;
    right: 88%;
}

#button5{
    position: absolute;
    top: 67%;
    right: 88%;
}

#button6{
   position: absolute;
   top: 82%;
   right: 88%;
}

 
 ul li {
     list-style: none;
     text-align: end;
     font-size: 28px;
     
 }

 body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 div.espaço {
    line-height: 5cm;
 }

 div.espaço2 {
    line-height: 5cm;
 }

 div.espaço3 {
    line-height: 4.5cm;
 }

 h1 {
     text-align: center;
 }
 a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}